<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Tableau Blanc Colaboratif</title>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css">
	<link rel="stylesheet" href="css/farbtastic.css" type="text/css" />

	<script src="jquery-2.1.0.min.js"></script>
	<script src="jquery-ui-1.10.4.custom.min.js"></script>

	<script type="text/javascript" src="farbtastic.js"></script>


	<script src="/socket.io/socket.io.js"></script>
	<script src="main.js"></script>
</head>

<body>



<div class="leftBox">
<canvas id="canvas" width="800" height="400"></canvas>
</div>

<div class="rightBox">
	<h2>Options</h2>

	<div class="content">
		<div id="colorpicker"></div>
	</div>

</div>

	
</body>
</html>

