html {
	background: rgb(30,30,30);
	color: white;
	font-family: ubuntu;
}

#canvas {
	height: 400px;
	width: 800px;
	background: white;
	border-radius: 5px;
}

.leftBox {
	float: left;
}

.rightBox {
	float: right;
	background: rgb(50,50,50);
	width: 200px;
}

.rightBox h2 {
	font-size: 13px;
	width: 100%;
	border-bottom: 1px solid rgb(100,100,100);
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.rightBox .content {
	padding: 10px;
}

h3 {
	font-size: 11px;
}